# ==============================
# Python
# ==============================

__pycache__/
*.py[cod]
*$py.class

# ==============================
# Virtual Environment
# ==============================

.venv/
venv/
env/

# ==============================
# Environment Variables
# ==============================

.env

# ==============================
# IDE
# ==============================

.idea/
.vscode/

# ==============================
# OS
# ==============================

.DS_Store
Thumbs.db

# ==============================
# Logs
# ==============================

*.log
logs/

# ==============================
# Test / Coverage
# ==============================

.pytest_cache/
.coverage
htmlcov/

# ==============================
# RAG Data
# ==============================

data/raw/*
data/processed/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep

# ==============================
# Local Vector Databases
# ==============================

chroma_db/
qdrant_data/
vector_store/

# ==============================
# Build / Distribution
# ==============================

build/
dist/
*.egg-info/